@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300,400;500;600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

body h1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px;

}

.container{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-container{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 50%;

}

.form-container form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-container h2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;

}

.form-container button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;

}

.form-container input{
    background-color: #eee;
    border: none;
    border-radius: 8px;
    margin: 8px 0;
    padding: 10px 15px;
    width: 100%;
    outline: none;
}

.toggle-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #512da8;
    height: 100%;
    width: 50%;
    border-radius: 150px 0 0 100px;
    padding: 20px;
}

.toggle-container h2{
    color: #eee;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.toggle-container p{
    color: #eee;
    margin: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.toggle-container button{
    color: #512da8;
    background-color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}
